<div class="pattern-dot">
    <div class="card">
        <div class="buttons">
            <i class="material-icons form-icon icon " (click)="openProduct(product.url)">fullscreen</i>
            <i class="material-icons form-icon icon " (click)="addToCart(product)">local_mall</i>
        </div>
        <div class="img-product">
            <div class="img-background">
                <img [src]="'assets/shoes/'+product.img">
            </div>
        </div>
        <div class="product-info">
            <p>
                {{product.name}}
            </p>
            <p>
                {{product.price | currency: 'BRL'}}
            </p>
        </div>
    </div>
</div>