<div class="pattern-dot">
    <div class="card">
        <div class="buttons">
            <i class="material-icons form-icon icon " [routerLink]="'/detail/'+product.url">fullscreen</i>
            <i class="material-icons form-icon icon " (click)="addToCart(product)">shopping_cart</i>
        </div>
        <div class="img-product">
            <div class="img-background">
                <img [src]="'assets/shoes/'+product.img">
            </div>
        </div>
        <div class="product-info">
            <p>
                {{product.name}}
            </p>
            <p>
                $236.00
            </p>
        </div>
    </div>
</div>