<div class="background">
    <div class="backbox">
        <div class="headerlist">
            <div routerLink="/list" class="logo">
                <span class="ball">
                    <div class="square" style="opacity: 0.3;"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </span>
                <span class="typo center">shophub</span>
            </div>
            <div class="headerlist-menu center">
                <span>Home</span>
                <span>Shop</span>
                <span>Blog</span>
                <span>Contact</span>
            </div>
            <div class="cart-button">
                <span class="total-cart" *ngIf="totalCart>0">{{totalCart}}</span>
                <span class="cart-circle material-icons center" [routerLink]="'/cart'">local_mall</span>
            </div>
        </div>
        <div class="orange-box">
            <div class="center">
                <div class="orange-circle">
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>