.itens-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  width: 100%;
  height: 610px;
  overflow: auto;
  justify-content: center;
}

.header-orange-box {
  font-size: 12px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1145px;

  .showing-filter {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
  }
}

.home-product {
  display: flex;
  gap: 3px;
  align-items: center;
}

.shop-header {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -1px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep {
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #ff6b01;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ff6b01;
  }

  .mat-select-trigger {
    color: #ff6b01;
  }
}

.related-product {
  font-size: 26px;
  margin-left: 10px;
}
